h1,
h2,
h3,
h4,
h5,
p,
span,
strong,
time,
address,
i,
a,
b,
label,
li,
td {
  text-rendering: optimizeLegibility !important;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/* Font weight */

[class*="-bold"] {
  font-weight: 700;
}

[class*="-semibold"] {
  font-weight: 600;
}

[class*="-medium"] {
  font-weight: 500;
}

[class*="-regular"] {
  font-weight: 400;
}

[class*="-light"] {
  font-weight: 300;
}

[class*="-italic"] {
  font-style: italic !important;
}

/* Titles */
[class*="title-1"] {
  font-size: 64px;
}
[class*="title-2"] {
  font-size: 40px;
}
[class*="title-3"] {
  font-size: 24px;
}
[class*="title-4"] {
  font-size: 16px;
}

/* Paragraphs */
[class*="paragraph-1"] {
  font-size: 28px;
}

[class*="paragraph-2"] {
  font-size: 16px;
}

/* Links */
[class*="link-1"] {
  font-size: 20px;
}

[class*="link-2"] {
  font-size: 18px;
}

[class*="link-3"] {
  font-size: 16px;
}

@media only screen and (max-width: 1600px) {
  /* Titles */
  [class*="title-1"] {
    font-size: 60px;
  }

  [class*="title-2"] {
    font-size: 36px;
  }

  [class*="title-3"] {
    font-size: 22px;
  }

  [class*="title-4"] {
    font-size: 15.5px;
  }

  /* paragraph */
  [class*="paragraph-1"] {
    font-size: 26px;
  }

  [class*="paragraph-2"] {
    font-size: 15.5px;
  }

  /* links */
  [class*="link-1"] {
    font-size: 19px;
  }

  [class*="link-3"] {
    font-size: 15.5px;
  }
}

@media only screen and (max-width: 1400px) {
  /* Titles */
  [class*="title-1"] {
    font-size: 56px;
  }

  [class*="title-2"] {
    font-size: 32px;
  }

  [class*="title-3"] {
    font-size: 20px;
  }

  [class*="title-4"] {
    font-size: 15px;
  }

  /* paragraph */
  [class*="paragraph-1"] {
    font-size: 24px;
  }

  [class*="paragraph-2"] {
    font-size: 15px;
  }

  /* links */
  [class*="link-1"] {
    font-size: 17.5px;
  }

  [class*="link-3"] {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  /* Titles */
  [class*="title-1"] {
    font-size: 52px;
  }

  [class*="title-2"] {
    font-size: 27.5px;
  }

  [class*="title-3"] {
    font-size: 18px;
  }

  [class*="title-4"] {
    font-size: 14.5px;
  }

  /* paragraph */
  [class*="paragraph-1"] {
    font-size: 22px;
  }

  [class*="paragraph-2"] {
    font-size: 14.5px;
  }

  /* links */
  [class*="link-1"] {
    font-size: 16px;
  }

  [class*="link-3"] {
    font-size: 14.5px;
  }
}

@media only screen and (max-width: 1024px) {
  /* Titles */
  [class*="title-1"] {
    font-size: 48px;
  }

  [class*="title-2"] {
    font-size: 24px;
  }

  [class*="title-3"] {
    font-size: 17px;
  }

  [class*="title-4"] {
    font-size: 14px;
  }

  /* paragraph */
  [class*="paragraph-1"] {
    font-size: 19px;
  }

  /* links */
  [class*="link-1"] {
    font-size: 15px;
  }

  [class*="link-3"] {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  /* Titles */
  [class*="title-1"] {
    font-size: 44px;
  }

  [class*="title-2"] {
    font-size: 22px;
  }

  /* paragraph */
  [class*="paragraph-1"] {
    font-size: 17px;
  }

  /* link */
  [class*="link-1"] {
    font-size: 14px;
  }
  [class*="link-3"] {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  /* Titles */
  [class*="title-1"] {
    font-size: 44px;
  }

  [class*="title-2"] {
    font-size: 19px;
  }

  [class*="title-3"] {
    font-size: 16px;
  }

  [class*="title-4"] {
    font-size: 13px;
  }

  /* link  */
  [class*="link-1"] {
    font-size: 12.5px;
  }
  [class*="link-3"] {
    font-size: 12px;
  }
}
